body{
  background:rgb(230, 230, 230);
}

.App{
  display: flex;
  min-width:100vw;
  justify-content: space-evenly;
  align-items: center;
}


@media (max-width:600px){
  .App{
    flex-direction: column;
  }
}